@model List<UserWithFriendsCountViewModel>

<div class="flex items-baseline justify-between text-black">
    <h3 class="font-bold text-base !text-black">Suggested for you</h3>
</div>

<div class="side-list">

    @foreach(var user in Model)
    {
        <div class="side-list-item">
            <a asp-controller="Users" asp-action="Details" asp-route-userId="@user.UserId">
                <img src="@(string.IsNullOrEmpty(user.PfpUrl) 
                    ? Url.Content("~/images/avatar/user.png") 
                    : user.PfpUrl)" class="side-list-image rounded-full" />

                <div class="flex-1">
                    <a asp-controller="Users" asp-action="Details" asp-route-userId="@user.UserId">
                        <h4 class="side-list-title !text-black">
                            @user.FullName
                        </h4>
                    </a>
                    <div class="side-list-info text-gray-700">@user.FriendsCountDisplay</div>
                </div>
            </a>
            
            <form asp-controller="Friends" asp-action="SendFriendRequest" method="post">
                <input type="hidden" name="receiverId" value="@user.UserId"/>
                <button type="submit" class="button bg-primary-soft text-primary">
                    Follow
                </button>
            </form>
        </div>
    }

</div>  