@model List<Post>

<main id="site__main" class="p-2.5 h-[calc(100vh-var(--m-top))] mt-[--m-top]">
    
    <h3>Admin Panel</h3>
    <hr />

    <div class="w-full">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 w-[90%] mx-auto">

            @foreach (var post in Model)
            {

                TimeSpan timeSpanSincePosted = DateTime.UtcNow.Subtract(post.DateCreated);

                string displayTime = timeSpanSincePosted switch
                {
                    var t when t.TotalDays > 730 => $"{(int)t.Days / 365} years ago",
                    var t when t.TotalDays == 365 => $"a year ago",
                    var t when t.TotalDays >= 60 => $"{(int)t.Days / 30} months ago",
                    var t when t.TotalDays >= 30 => $"a month ago",
                    var t when t.TotalDays >= 2 => $"{(int)t.Days} days ago",
                    var t when t.TotalDays >= 1 => $"a day ago",
                    var t when t.TotalHours > 1 => $"{(int)t.Hours} hours ago",
                    var t when t.TotalHours == 1 => $"an hour ago",
                    var t when t.TotalMinutes > 1 => $"{(int)t.Minutes} minutes ago",
                    var t when t.TotalMinutes == 1 => $"a minute ago",
                    _ => "Just now"
                };

                string defaultUserPfp = "~/images/avatar/user.png";
                string currentUserPfp = ViewData["CurrentUserPfp"] as string ?? defaultUserPfp;

                bool showAllComments = ViewData["ShowAllComment"] as bool? ?? false;
                bool showDetails = ViewData["ShowDetails"] as bool? ?? true;

        
                <div class="bg-white rounded-xl shadow-sm text-sm font-medium border-1 h-full flex flex-col">

                    @* USER POST HEADING *@
                    <div class="flex gap-3 sm:p-4 p-2.5 text-sm font-medium">

                        @* USER PROFILE PICTURE *@
                        <a>
                            @* 2 '?' *@
                            <img src="@(!string.IsNullOrEmpty(post.User.PfpUrl)
                                        ? Url.Content("~/" + post.User.PfpUrl)
                                        : Url.Content(defaultUserPfp))" class="w-9 h-9 rounded-full" />
                        </a>

                        @* NAME & DATE OF POSTING *@
                        <div class="flex-1">
                            <a>
                                <h4 class="!text-black">@post.User.FullName</h4>
                                <div class="text-xs text-gray-500" title="@post.DateCreated.ToString("MMM. dd, yyyy HH:mmtt")">@displayTime</div>
                            </a>
                        </div>

                        <div class="flex -mr-1 space-x-2">
                            <form class="inline">
                                <button class="button-icon w-8 h-8 text-red-500 hover:text-red-70">
                                    <ion-icon class="text-xl" name="close-outline"></ion-icon>
                                </button>
                            </form>
                            <form asp-controller="Admin" asp-action="ApproveReport" class="inline">
                                <input type="hidden" name="postId" value="@post.Id"/>
                                <button type="submit" class="button-icon w-8 h-8 text-green-500 hover:text-green-70">
                                    <ion-icon class="text-xl" name="checkmark-outline"></ion-icon>
                                </button>
                            </form>
                            
                        </div>

                    </div>

                    @* USER POST CONTENT *@
                    @* POST DESCRIPTION *@
                    <a>
                        <div class="px-sm-4 p-2.5 pt-0 w-full flex-1">
                            <p class="font-normal">
                                @post.Content
                            </p>
                        </div>
                    </a>

                    @* POST IMAGE *@
                    @if (!string.IsNullOrEmpty(post.ImageUrl))
                    {
                        <a>
                            <div class="relative w-full h-full">
                                <img src="@Url.Content("~/" + post.ImageUrl)" class="sm:rounded-lg w-full h-full object-cover rounded-b-xl" />
                            </div>
                        </a>
                    }

                </div>

            }

        </div>
    </div>
</main>